<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".os.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather">
        <activity
            android:name=".view.ListActivity"
            android:label="@string/appName"
            android:theme="@style/Theme.Weather.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DetailActivity"
            android:label="@string/detailTitle"
            android:parentActivityName=".view.ListActivity"
            android:theme="@style/Theme.Weather.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.weather.view.ListActivity" />
        </activity>
    </application>

</manifest>